# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches:
      - main
      - dev

  pull_request:
    branches:
      - main
      - dev

env:
  TERM: xterm
  TEST_PYTHON_VERSION: 3.9
  TEST_OS: 'ubuntu-22.04'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-15-intel]
        python-version: [3.7, 3.8, 3.9, 3.10.5, 3.11.0, 3.12.0, 3.13.0, 3.14.0]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Installation
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Run1
      run: |
        clox --version
    - name: Run2
      run: |
        clox --info
    - name: Run3
      run: |
        clox --faces-list
    - name: Run4
      run: |
        clox --faces-list --vertical
    - name: Run5
      run: |
        clox --timezones-list
    - name: Run6
      run: |
        clox --calendar=month
    - name: Run7
      run: |
        clox --calendar=year
    - name: Run8
      run: |
        clox --calendar=mOnth --date-system=jalali --offset-local=5000
    - name: Run9
      run: |
        clox --calendar=yeAr --date-system=jalali --date-format=eu-short
    - name: Run10
      run: |
        clox --calendar=year --date-system=jalAli
    - name: Run11
      run: |
        clox --calendar=year --date-system=jalAli --country=De --offset-timezone=5000
    - name: Run12
      run: |
        clox --countries-list
    - name: Run13
      run: |
        clox --timezones-list --country=Us --date-format=eu
    - name: Run14
      run: |
        clox --calendar=year --date-system=jalAli --country=De --first-weekday="Monday"
    - name: Run15
      run: |
        clox --date-formats-list
    - name: Run16
      run: |
        clox --date-system=jalali --date-formats-list
    - name: Run17
      run: |
        clox --date-system=jalali --date-formats-list --color="red"
    - name: Install dev-requirements
      run: |
        python otherfiles/requirements-splitter.py
        pip install --upgrade --upgrade-strategy=only-if-needed -r test-requirements.txt
    - name: Version check
      run: |
        python otherfiles/version_check.py
      if: matrix.python-version == env.TEST_PYTHON_VERSION
    - name: Other tests
      run: |
        python -m vulture clox/ setup.py --min-confidence 65 --exclude=__init__.py --sort-by-size
        python -m bandit -r clox -s B404,B603,B605,B607,B311
        python -m pydocstyle --match-dir=clox -v
      if: matrix.python-version == env.TEST_PYTHON_VERSION
